In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('udemy.csv')

In [3]:
data.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments

In [4]:
data.subject.unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

In [5]:
data.groupby('subject')['course_title'].count().sort_values()

subject
Graphic Design          603
Musical Instruments     680
Business Finance       1199
Web Development        1200
Name: course_title, dtype: int64

In [6]:
data.groupby('subject')['course_title'].value_counts()

subject           course_title
Business Finance  CFA Level 2- Quantitative Methods                           2
                  Essentials of money value: Get a financial Life !           2
                  Introduction to Forex Trading Business For Beginners        2
                  Understanding Financial Statements                          2
                  'Geometry Of Chance strategy of defeating the roulette."    1
                                                                             ..
Web Development   jQuery UI in Action: Build 5 jQuery UI Projects             1
                  jQuery for Absolute Beginners - Lite                        1
                  jQuery for Beginners                                        1
                  jQuery for Beginners - Create Website Animations Easily     1
                  jQuery in Action: Build 8 jQuery Projects                   1
Name: course_title, Length: 3667, dtype: int64

In [7]:
data[data['is_paid']==True].count()

course_id              3372
course_title           3372
is_paid                3372
price                  3372
num_subscribers        3372
num_reviews            3372
num_lectures           3372
level                  3372
content_duration       3372
published_timestamp    3372
subject                3372
dtype: int64

In [8]:
data[data['is_paid']==False].count()

course_id              310
course_title           310
is_paid                310
price                  310
num_subscribers        310
num_reviews            310
num_lectures           310
level                  310
content_duration       310
published_timestamp    310
subject                310
dtype: int64

In [9]:
data.groupby('course_title')['num_subscribers'].sum().sort_values(ascending=False).index[0]

'Learn HTML5 Programming From Scratch'

In [10]:
len(data['course_title'].unique())

3667

In [11]:
data.groupby('course_title')['num_subscribers'].sum().sort_values(ascending=True).index[0]

'Learn to trade using technical analysis'

In [12]:
data.sort_values('num_subscribers',ascending=False).head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
2230,41295,Learn HTML5 Programming From Scratch,False,Free,268923,8629,45,All Levels,10.5 hours,2013-02-14T07:03:41Z,Web Development
776,59014,Coding for Entrepreneurs Basic,False,Free,161029,279,27,Beginner Level,3.5 hours,2013-06-09T15:51:55Z,Web Development
3385,625204,The Web Developer Bootcamp,True,200,121584,27445,342,All Levels,43 hours,2015-11-02T21:13:27Z,Web Development
640,173548,Build Your First Website in 1 Week with HTML5 ...,False,Free,120291,5924,30,Beginner Level,3 hours,2014-04-08T16:21:30Z,Web Development
3316,764164,The Complete Web Developer Course 2.0,True,200,114512,22412,304,All Levels,30.5 hours,2016-03-08T22:28:36Z,Web Development

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3682 non-null   object
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), int64(4), object(6)
memory usage: 291.4+ KB

In [14]:
data['price'].replace('Free',np.nan,inplace=True)

In [15]:
data.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3372 non-null   object
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), int64(4), object(6)
memory usage: 291.4+ KB

In [17]:
data['price'].unique()

array(['35', '75', '65', '200', '25', '100', '20', '40', '30', '45',
       '185', '120', '105', '50', nan, '145', '55', '85', '110', '150',
       '95', '180', '125', '60', '90', '195', '80', '70', '140', '190',
       '115', '130', '170', '175', '165', '135', '155', '160'],
      dtype=object)

In [18]:
# to_numeric() - provides functionality to safely convert non-numeric types (e.g. strings) to a suitable numeric type. (See also to_datetime() and to_timedelta().)

# astype() - convert (almost) any type to (almost) any other type (even if it's not necessarily sensible to do so). Also allows you to convert to categorial types (very useful).

# infer_objects() - a utility method to convert object columns holding Python objects to a pandas type if possible.

# convert_dtypes() - convert DataFrame columns to the "best possible" dtype that supports pd.NA (pandas' object to indicate a missing value).

In [19]:
data['price']=data['price'].apply(pd.to_numeric)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3372 non-null   float64
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), float64(1), int64(4), object(5)
memory usage: 291.4+ KB

In [24]:
k.groupby('subject').get_group('Graphic Design')

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
63,413713,A Complete Guide to Successful Freelance Logo ...,True,145.0,2745,61,67,All Levels,8.5 hours,2015-02-19T03:39:50Z,Graphic Design
87,1139792,会声会影深度教学,True,200.0,3,2,12,Beginner Level,36 mins,2017-03-17T17:07:38Z,Graphic Design
157,1013676,Adobe Illustrator CC 2017 for beginners,True,195.0,2489,39,12,Beginner Level,1.5 hours,2017-01-31T22:13:11Z,Graphic Design
166,905244,Adobe Illustrator For Everyone: Create Detaile...,True,185.0,165,17,11,All Levels,1.5 hours,2016-08-09T14:07:47Z,Graphic Design
171,933888,Adobe Illustrator: How to Draw Squared Animals...,True,180.0,2873,38,13,Beginner Level,32 mins,2017-01-10T15:38:21Z,Graphic Design
...,...,...,...,...,...,...,...,...,...,...,...
3482,635716,Typography: Learn the Foundation and Designs,True,135.0,220,13,33,All Levels,2.5 hours,2015-11-11T00:52:59Z,Graphic Design
3483,948294,مدخل في أساسيات الفوطوشوب للمبتدئين فقط,True,120.0,13,9,7,Beginner Level,1 hour,2016-09-06T02:48:13Z,Graphic Design
3499,438420,Ultimate Guide on Freelancing Career in Photos...,True,165.0,1479,49,82,All Levels,6.5 hours,2015-04-30T19:41:43Z,Graphic Design
3505,1046722,Ultimate Photoshop Training: From Beginner to Pro,True,200.0,5326,447,150,Beginner Level,11.5 hours,2017-01-12T16:56:22Z,Graphic Design
3533,1067516,Vector Logo Design in Affinity Designer,True,150.0,1789,102,57,All Levels,3 hours,2017-02-07T18:09:03Z,Graphic Design

In [22]:
k=data[data['price']>100]

In [23]:
k

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
7,768028,* An Integrated Approach to the Fundamentals o...,True,200.0,134,14,123,All Levels,5.5 hours,2016-03-15T17:23:07Z,Business Finance
9,738910,[Value Investing] Where White People Keep Thei...,True,200.0,2715,70,20,Expert Level,4 hours,2016-05-25T21:04:41Z,Business Finance
10,591880,1 - Concepts of Statistics For Beginners Step ...,True,200.0,273,4,15,Beginner Level,31 mins,2015-08-30T22:48:34Z,Business Finance
12,64422,1 Hour HTML,True,200.0,16212,514,20,Beginner Level,1 hour,2013-07-09T03:16:26Z,Web Development
13,63612,1 Hour JavaScript,True,200.0,22999,602,18,Beginner Level,1 hour,2013-07-04T15:27:02Z,Web Development
...,...,...,...,...,...,...,...,...,...,...,...
3637,361620,Wordpress Tutorial,True,200.0,2311,8,44,All Levels,1.5 hours,2014-12-04T19:17:17Z,Web Development
3640,774910,WordPress: Create an Amazing Website With Ease,True,200.0,1109,13,24,All Levels,2.5 hours,2016-05-03T19:53:12Z,Web Development
3649,1229274,WP Plugin Development - Build your own plugin!,True,200.0,5439,22,24,Beginner Level,4 hours,2017-06-13T18:39:12Z,Web Development
3676,498488,Your First Successful Forex Trades - With Case...,True,200.0,1079,34,16,All Levels,2.5 hours,2015-05-26T20:48:48Z,Business Finance
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,120.0,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development

In [28]:
q=data['course_title'].str.lower()

In [32]:
q.str.contains('python').value_counts()

False    3653
True       29
Name: course_title, dtype: int64

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3372 non-null   float64
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), float64(1), int64(4), object(5)
memory usage: 291.4+ KB

In [34]:
data['course_title']=data['course_title'].str.lower()

In [35]:
data.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 piano hand coordination: play 10th ballad i...,True,35.0,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 hand coordination - transfer chord ballad ...,True,75.0,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 hand coordination: let your hands dance wi...,True,75.0,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 piano hand coordination: fun piano runs in ...,True,75.0,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 piano hand coordination: piano runs in 2 ...,True,75.0,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments

In [36]:
data['published_timestamp']=pd.to_datetime(data['published_timestamp'])

In [40]:
data[data['published_timestamp'].dt.year==2015]

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
10,591880,1 - concepts of statistics for beginners step ...,True,200.0,273,4,15,Beginner Level,31 mins,2015-08-30 22:48:34+00:00,Business Finance
16,302450,10 numbers every business owner should know,True,20.0,13,1,9,All Levels,1 hour,2015-03-08 19:11:24+00:00,Business Finance
19,384928,101 blues riffs - learn how the harmonica supe...,True,200.0,1350,65,55,Intermediate Level,6.5 hours,2015-01-04 21:14:31+00:00,Musical Instruments
23,550842,16 guitar chords to jam with - (beginner - int...,True,20.0,1224,19,20,Beginner Level,1 hour,2015-07-10 19:53:56+00:00,Musical Instruments
26,486240,2 easy steps to investment and avoiding traps,True,20.0,828,1,20,All Levels,1 hour,2015-04-27 23:18:59+00:00,Business Finance
...,...,...,...,...,...,...,...,...,...,...,...
3675,551170,your first course on piano,True,70.0,2002,34,33,Beginner Level,4 hours,2015-07-16 17:07:49+00:00,Musical Instruments
3676,498488,your first successful forex trades - with case...,True,200.0,1079,34,16,All Levels,2.5 hours,2015-05-26 20:48:48+00:00,Business Finance
3677,328960,your own site in 45 min: the complete wordpres...,True,120.0,1566,29,36,All Levels,4 hours,2015-04-20 22:15:17+00:00,Web Development
3678,552700,your second course on piano: two handed playing,True,70.0,1018,12,22,Beginner Level,5 hours,2015-10-26 20:04:21+00:00,Musical Instruments
3679,631754,zend framework 2: learn the php framework zf2 ...,True,40.0,723,130,37,All Levels,6.5 hours,2015-11-11 18:55:45+00:00,Web Development

In [41]:
data.groupby('level')['num_subscribers'].max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64

In [42]:
data.groupby('level').max()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,content_duration,published_timestamp,subject
level,,,,,,,,,,
All Levels,1277924,６時間でインターバンク市場を攻略！最短距離でトレード基礎力,True,200.0,268923,27445,544,9.5 hours,2017-07-06 21:16:13+00:00,Web Development
Beginner Level,1282064,７日でマスター ビギナー向け adobe illustrator どきどきセミナー,True,200.0,161029,5924,779,9.5 hours,2017-07-06 21:46:30+00:00,Web Development
Expert Level,1275790,working capital management for entrepreneurs,True,200.0,5172,249,157,9 hours,2017-07-04 18:08:01+00:00,Web Development
Intermediate Level,1276182,株式投資で本当のテクニカル分析ができるようになる,True,200.0,29167,3326,320,9.5 hours,2017-07-05 04:41:54+00:00,Web Development

In [44]:
data.dtypes

course_id                            int64
course_title                        object
is_paid                               bool
price                              float64
num_subscribers                      int64
num_reviews                          int64
num_lectures                         int64
level                               object
content_duration                    object
published_timestamp    datetime64[ns, UTC]
subject                             object
dtype: object